services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: home-sensors-api
    ports:
      - "${API_PORT}:8000"
    depends_on:
      - influxdb
    environment:
      HOST: ${API_HOST}
      PORT: ${API_PORT}
    restart: unless-stopped

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "${INFLUXDB_PORT}:8086"
    volumes:
      - /var/lib/influxdb2:/var/lib/influxdb2
    environment:
      INFLUXDB_ADMIN_USER: ${INFLUXDB_ADMIN_USER}
      INFLUXDB_ADMIN_PASSWORD: ${INFLUXDB_ADMIN_PASSWORD}
      INFLUXDB_BUCKET: ${INFLUXDB_BUCKET}
      INFLUXDB_ORG: ${INFLUXDB_ORG}
    restart: unless-stopped

  grafana:
    image: grafana/grafana:11.4.0
    container_name: grafana
    ports:
      - "${GRAFANA_PORT}:3000"
    volumes:
      - /opt/grafana-data:/var/lib/grafana
      # TODO: add provisioning files
      # - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - influxdb
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
    restart: unless-stopped
